serverspec/vendor

ansible/swap/vars/**
ansible/yum/vars/**
ansible/git/vars/**
ansible/mysql/vars/**
ansible/ruby/vars/**
ansible/rails/vars/**
ansible/app-in/vars/**
ansible/bundler/vars/**
ansible/node/vars/**
ansible/yarn/vars/**
ansible/nginx/vars/**
ansible/setup/vars/**
ansible/setup_server/vars/**



